#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: white;
}

@media all and (max-width: 800px) {
    #about{
        justify-content: space-around;
        flex-direction: column;
    }
}

#hello{
    color: var(--coffeemuglight);
    font-family: var(--scriptFont);
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: .25em;
    text-align: center;
}

.split{
    background-color: rgba(95, 123, 123, 0.5);
    height: .3em;
    width: 70%;
    margin-bottom: 1em;
}

#bottom{
    float: right;
}

#aboutText{
    order: 1;
    flex-grow: 2;
    flex-basis: 60vw;
    color: #383838;
    font-family: var(--myFont);
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;

}

#photoDiv{
    order: 2;
    flex-grow: 1;
    flex-basis: 30vw;
    padding-right: 4em; 
} 

#photo{
    max-width: 65%;
    max-height: 65%;
    border: .3em solid rgba(95, 123, 123, 0.5);
    /* background-color: var(--coffeemuglight); */
}

/* .grid{
    display: grid;
    grid-template-columns: [colOne] 25% [colTwo] 25% [colThree] 25% [colFour] 25% [endCol];
    padding-top: 2.5em;
}

#columnOne{
    grid-column-start: colOne;
    grid-column-end: colTwo;
    align-self: center;
    justify-self: center;
    text-align: left;
    padding-left: 2em;
}

#columnTwo{
    grid-column-start: colTwo;
    grid-column-end: colThree;
    align-self: center;
    justify-self: center;
    text-align: left;
    padding-left: 2em;
    padding-top: 2em;
}

#columnThree{
    grid-column-start: colThree;
    grid-column-end: colFour;
    align-self: center;
    justify-self: center;
    text-align: left;
    padding-left: 2em;
}
*/

