/* #header{
    background: var(--behindBackpackLeft);
    background-size: cover;
    height: 5vh;
    font-size: 3vh;
    text-decoration: none;
    color: var(--backpackDark);
    border-bottom: .5px solid var(--coffeemuglight);
}

/* 'Roboto Condensed', sans-serif; */


.jumbotron{
    background: url('./assets/laptop_backpack_coffeemug.jpg') no-repeat center;
    background-size: cover;
    height: 88.5vh;
    color: white;
    text-shadow: .1em .1em var(--backpackDark);
    text-align: center;
    font-family: var(--myFont);
    margin-bottom: 0%;
}

#name{
    padding-top: 2em;
}

.lead{
    font-size: 1.5em;
    text-shadow: .05em .05em var(--backpackDark);
    background: rgba(0, 0, 0, 0.5);
}

