#navBarContact{
    color: black;
    }

#navBarProjects{
    color: black;
}

#navBarAbout{
    color: black;
}

#navBarExplore{
    font-size: 1.5em;
    /* padding-bottom: 1em; */
}

/* #navbarNavAltMarkup{
    color: white ! important;
    background-color: black ! important;
} */

@media screen and (max-width: 800) and (orientation: portrait){
    #navBarContact{
        background-color: black;
        color: white;
    }
}

.navbar{
    background-color: var(--behindBackpackLeft) ! important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 14%;
    max-height: 220px;
    z-index: 100;
}

@media screen and (min-device-width: 411px) and (max-device-width: 640px) and (orientation: landscape){
    .navbar{
        height: 18%;
    }
}

@media screen and (min-device-width: 640px) and (max-device-width: 823px) and (orientation: landscape){
    .navbar{
        height: 15%;
    }
}

#navbarNav{
    background-color: var(--behindBackpackLeft);
    /* background-size: cover; */
    /* width: 100%; */
    /* width: 50%; */
}