#navBarContact{
    color: black;
    }

#navBarProjects{
    color: black;
}

#navBarAbout{
    color: black;
}

#navBarExplore{
    font-size: 1.5em;
}

.navbar{
    background-color: var(--behindBackpackLeft) ! important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    max-height: 110px;
    z-index: 100;

    /* background-size: cover;  */
}