#projectHeader{
    font-family: var(--myFont);
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#projects{
    margin-top: none;
    background-color: white;
    color: var(--coffeemuglight);
    font-family: var(--myFont);
}


@media screen and (max-width: 400px) and (orientation: portrait) {
    .row {
        display: column !important;
    }
}

/* Use a media query to add a breakpoint at 800px: */
/* @media screen and (max-width: 800px) { */
    /* .left, .main, .right { */
      /* width: 100%; The width is 100%, when the viewport is 800px or smaller */
    /* } */

/* #projects::before{    
    display: block;
    content: " ";
    margin-top: -8%;
    height: 8%;
    visibility: hidden;
    pointer-events: none;
} */

#bubbles{
    max-width: 25.5vw;
    border: .25em solid var(--coffeemuglight);
    border-radius: 4px;
}

#bubbles:hover{
    border: .25em solid rgba(0, 140, 186, 0.5);
}

#netflix{
    max-width: 29vw;
    border: .25em solid var(--coffeemuglight);
    border-radius: 4px;
}

#netflix:hover{
    border: .25em solid rgba(0, 140, 186, 0.5);
}

#dishBuilder{
    max-width: 30vw;
    border: .25em solid var(--coffeemuglight);
    border-radius: 4px;
}

#dishBuilder:hover{
    border: .25em solid rgba(0, 140, 186, 0.5);
}

#bubblesText{
    font-family: var(--myFont);
    padding-top: 5%;
    padding-bottom: 10%;
}

#netflixText{
    font-family: var(--myFont);
    padding-top: 5%;
    padding-bottom: 10%;
}

#dishBuilderText{
    font-family: var(--myFont);
    padding-top: 5%;
    padding-bottom: 10%;
}